@use "../../../colors";

.category-header {
  h4 {
    padding: 1em;
    background-color: colors.$light;
  }
}

.featured,
.onsale {
  span {
    h5 {
      margin-top: 0.5em;
      margin-left: 0.5em;
      padding: 1em;
    }
  }
  margin: 0em 0 1.5em 0;
}
.featured {
  background-color: colors.$secondary;
}

.onsale {
  background-color: colors.$light;
}

.productlist {
  margin: 4em 0 4em 0;
}
