@use "../../../colors.scss";

input.form-control[readonly],
textarea.form-control[readonly] {
  user-select: none!important;
  color: grey!important;
  background-color: colors.$white;
}

textarea {
  padding: 0.2em;
  height: 6.5em!important;
}
